{% extends 'template.html' %}
{% load bootstrap4 %}
{% block title %}Manage {% for server in servers %}{% if server.id == request.id %}{{ server.name }}{% endif %}{% endfor %}{% endblock %}

{% block body %}
    <div class="row">
    <div class="col">
        {% bootstrap_messages %}
    </div>
    </div>
<div class="row my-3">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            Prefixes
        </div>
        <p>Legendarybot supports multiple prefixes to trigger commands. By default, Mentioning it (<b>@LegendaryBot</b>) and the use of the <b>!</b> prefix works. Once you set a custom prefix, the <b>!</b> prefix is disabled.</p>
        {% if guild.guildprefix_set.count > 0 %}
            <table class="table">
                <tbody>
                {% for prefix in guild.guildprefix_set.all %}
                    <tr>
                        <td>{{ prefix.prefix }}</td>
                        <td><a href="{% url 'server_remove_prefix' guild_id=guild.guild_id prefix=prefix.prefix %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You currently have no prefixes</p>
        {% endif %}
        <form action="{% url 'server_prefix' guild_id=guild.guild_id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form prefix_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}


        </form>
    </div>
    <div class="col">
        <div class="alert alert-primary" role="alert">
            Custom Commands
        </div>
        {% if guild.guildcustomcommand_set.count > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Text</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for custom_command in guild.guildcustomcommand_set.all %}
                    <tr>
                        <td>{{ custom_command.name }}</td>
                        <td>{{ custom_command.value }}</td>
                        <td><a href="{% url 'server_remove_custom_command' guild_id=guild.guild_id command_name=custom_command.name %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>

</div>
<div class="row my-3">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            WoW Servers
        </div>
        <p>LegendaryBot supports multiple guilds to be configured under a single Discord server.</p>
        {% if guild.guildserver_set.count > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Realm</th>
                        <th>Guild</th>
                        <th>Default</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for guild_server in guild.guildserver_set.all %}
                    <tr>
                        <td>{{ guild_server.get_region_display }}</td>
                        <td>{{ guild_server.server_slug }}</td>
                        <td>{{ guild_server.guild_name }}</td>
                        <td>{{ guild_server.default }}</td>
                        <td>{% if not guild_server.default %}<a href="{% url 'server_default_guild_server' guild_id=guild.guild_id guild_server_id=guild_server.pk %}"><button type="button" class="btn btn-primary">Make Default</button></a> {% endif %}<a href="#"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h2>Add a server</h2>
        <form action="{% url 'server_add_guild_server' guild_id=guild.guild_id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form guild_server_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}


        </form>
    </div>
</div>
{% endblock %}